<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Skip render</title>
  </head>
  <body>
    <div>
        <div id='hbs1'>{{view}}</div>
        <div>This is fancy</div>
    </div>
  </body>
</html>